.botaoLogin { 
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #2e5668;
    color: #fff;
    font-weight: bold;
    transition: 0.3s all;
}

.botaoLogin:hover {
  transform: scale(1.1);
  background-color: #538399;
  cursor: pointer;
}

.inputStyle {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #2e5668;
  padding: 0px 20px;
  transition: 0.3s all;
}

.inputStyle:focus-visible{
  outline-offset: 0px;
  outline: none;
}

.inputStyle:focus {
  transform: scale(1.01);
  background-color: #f0faff;
}